.app_dark_theme {
    --bg-color: #abb2ff;
    --invert-bg-color: #fff9ee;
    --primary-color: #ff2828;
    --secondary-color: rgb(255 40 40 / 43%);
    --inverted-primary-color: #373737;
    --inverted-secondary-color: #ff7432;
}
