.app_light_theme {
  --bg-color: #fff9ee;
  --invert-bg-color: #abb2ff;
  --primary-color: #373737;
  --secondary-color: #ff7432;
  --inverted-primary-color: #ff2828;
  --inverted-secondary-color: rgb(120 38 176);
}
