.AppLink {
  color: var(--primary-color);
  white-space: nowrap;
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--inverted-primary-color);
}

.krinky {
  font-weight: 600;
  text-transform: uppercase;
  color: #373737;
  letter-spacing: 2px;
  transition: ease all 0.35s;
}

.krinky:hover {
  color: #ff651c;
}
